# Base de données (MongoDB Atlas)
DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/dataflow_ci?retryWrites=true&w=majority"

# Redis (BullMQ) — en local : redis://localhost:6379
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="7d"

# Serveur
PORT=4000
NODE_ENV=development

# Frontend (pour la config CORS)
FRONTEND_URL="http://localhost:5173"

# Upload
MAX_FILE_SIZE_MB=10
UPLOAD_DIR="./uploads"
